
body{
    background-color: black;
    width:90%;
    padding: 30px;
    
}
form{
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("img2.png");
    background-size: 40% 90%;
    background-position: right;
    padding: 20px;
    width: 70%;
    border:1px solid black;
    border-radius:2px;
    
}
.formdesign{
    font-size: 25px;
    
}
.formdesign input{
    width: 50%;
    padding:12px 20px;
    border:2px solid black;
    margin:14px;
    border-radius: 4px;
    font-size:20px; 
}
.formerror{
    color:red;
    font-size: 15px;
}
.button{
    border-radius: 9px;
    width:100px;
    height: 50px;
    font-size: 20px;
    margin: 22px 20px;
}

.rad{
    font-size:25px;
}

.button{
    border-radius:9px;
    width:100px;
    height:50px;
    font-size:25px;
    margin: 22px 20px;
    background-color:blue ;
    color: white;
    box-shadow: 4px;
}


#name ,#lname{
    display:inline-block;
    width:33%;
}
.formdesign input:focus{ background: skyblue; }